<div>
	<nav class="navbar navbar-light bg-light static-top">
        <a class="navbar-brand" href="#!">Job Mob</a>
        <a class="btn btn-primary" href="#/SignOut">Sign Out</a>
    </nav>
    
    <nav class="navbar navbar-dark bg-dark static-top">
    <div class="container-fluid">
    	<ul class="nav ">
        <li><a class="btn btn-info btn-lg " style="border-radius: 0" href="#/NewJobPost">Create Job Post  </a></li>
        <li><a class="btn btn-info btn-lg " style="border-radius: 0" href="#/MyJob">Job Posts & Responses </a></li>
        <li><a class="btn btn-info btn-lg " style="border-radius: 0" href="#/searchEmployeeSkills">Search Applicants </a></li>
        <li><a class="btn btn-info btn-lg " style="border-radius: 0" href="#/topProfiles">Top 5 Applicants </a></li>
        </ul>
    </div>
    </nav>
</div>